<div
  class="looking-for-sponsorship"
  fxLayout="column"
  fxLayoutAlign="center end"
  [ngStyle.gt-sm]="{'text-align': 'right'}">

  <div class="overlay">
    <div class="container">
      <h3 class="common-title">
        Buscamos patrocinadores
      </h3>

      <p class="common-text">
        Nos encanta difundir nuestros conocimientos y compartir con personas que hacen de Colombia
        un mejor país, pero para eso necesitamos espacios, algunos snacks, video beam y demás, ¿te gustaría apoyarnos?
      </p>

      <a mat-stroked-button color="accent" href="https://goo.gl/forms/B6WrRjOSnAa4RhH03">Quiero apoyar</a>
    </div>
  </div>
</div>
