<div class="container">
  <div
    class="looking-for-sponsorship"
    fxLayout="column"
    fxLayoutAlign="center end"
    [ngStyle.gt-sm]="{'text-align': 'right'}">
    <h3 class="uppercase-title"
      [ngStyle.gt-sm]="{'width': '50vw'}">
      Buscamos patrocinadores
    </h3>

    <p class="common-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <button mat-stroked-button>Quiero apoyar</button>
  </div>
</div>
