<div class="container events-resume">
  <div class="boxes-container"
       fxFlex="100"
       fxLayout.xs="column" fxLayoutAlign.xs="center center"
       fxLayout="row" fxLayoutAlign="space-between start">
    <h3
      class="common-title"
      [ngStyle.gt-xs]="{'position': 'absolute', 'margin-top': '-1em'}"
    >Eventos</h3>

    <div fxFlex="33" class="box" *ngFor="let e of events; let i = index">
      <app-event-box [position]="i" [eventInfo]="e"></app-event-box>
    </div>
  </div>
</div>
