<div class="event-img-container" [ngStyle]="{'background': 'url(../../../assets/img/event-img.jpg) no-repeat center center fixed'}">
  <div class="overlay"></div>
  <div class="event-header"
       [ngStyle.sm]="{'top':'30%'}">
    <h1 class="event-title">Angular vs React</h1>
    <button mat-button>
      <mat-icon>calendar_today</mat-icon>
      Diciembre, 1 del 2018
    </button>
    <button mat-button>
      <mat-icon>place</mat-icon>
      Platzi
    </button>
  </div>
</div>

<div class="container">
  <h2 class="uppercase">Información</h2>

  <p class="common-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h2 class="uppercase">Recomendaciones</h2>

  <p class="common-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h2 class="uppercase">Patrocinadores</h2>

  <p class="common-text">Agradecimientos especiales a: </p>
  
  <ul class="sponsors"
      fxLayout.xs="column" fxLayoutAlign.xs="center center"
      fxLayout="row" fxLayoutAlign="space-around center">
    <li>
      <img src="../../../assets/img/acn-logo.png" alt="">
    </li>
    <li>
      <img src="../../../assets/img/globant-logo.svg" alt="">
    </li>
    <li>
      <img src="../../../assets/img/toptal-logo.png" alt="">
    </li>
  </ul>

  <h2 class="uppercase">Incripción</h2>

  <button mat-flat-button color="primary">Por Aquí!</button>

  <h2 class="uppercase">Ubicación</h2>

  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.651583506624!2d-74.05959715054702!3d4.656071643324932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a4333a1a275%3A0x91a59c01b85e3f59!2sPlatzi!5e0!3m2!1sen!2sco!4v1543436069289" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
